@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container>div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

}

.container>div:first-child img {
  width: 100px;
}

.container>div:first-child h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 30px;
  background: linear-gradient(to right, #fba801, #191606);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.returnLanding {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 0px;
  top: 0px;
  right: 10px;
  text-decoration: none;
  color: #000000;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.returnLanding:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  transform: translateY(-2px);
}



.card-layout {
  width: 50rem;
  margin-top: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.card-layout:hover {
  transform: translateY(-5px);
  background-color: transparent;
}

.slide-up {
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.slide-down {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}